*
  box-sizing: border-box
  color: #fff
  font-family: sans-serif

body
  margin: 0
  padding: 0
  .header
    width: 100%
    height: 243px
    background: #58554E
    &__topSide
      width: 1440px
      height: 147px
      display: flex
      align-items: center
      justify-content: center
      border-bottom: 1px solid #ffffff
    &__topСontent
      display: flex
      width: 1440px
      height: 147px
      justify-content: space-between
      // align-items: center
    &__leftPosition
        width: 510px
        height: 91px
        display: flex
        margin-top: 28px
        margin-left: 78px
        img
         width: 96px
         height: 91px
        p
         margin: 0
         margin-top: 20px 
         margin-left: 20px
         font-size: 24px
         font-weight: 500
    &__rightPosition
     width: 31px
     height: 91px
     margin-top: 45px
     margin-right: 97px
     a
      text-decoration: none
      margin: 0
      margin-top: 45px
      font-size: 24px
      font-weight: 700
    &__bottomSide
      width: 1440px
      height: 95px
      display: flex
      justify-content: space-between
    &__leftButton
      button
        width: 720px
        height: 95px
        background: #58554E
        font-size: 24px
        font-weight: 700
        border-right: 1px solid #ffffff
        cursor: pointer
    &__rightButton
      button
        width: 720px
        height: 95px
        background: #58554E
        font-size: 24px
        font-weight: 700
        border-left: 1px solid #ffffff
        cursor: pointer

.main
  height: 2272px
  width: 1440px
  display: flex
  justify-content: center
  flex-wrap: wrap
  &__title
    width: 1440px
    height: 226px
    margin-top: 112px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    p
      color: #000000
      font-size: 48px
      margin: 0
      font-weight: 900
  &__titleDescription
    height: 163px
    width: 1440px
    p
      font-size: 20px
      font-weight: 300
      text-align: center
      margin-top: 24px
      margin-bottom: 24px
  &__content
    width: 1282px
    height: 1651px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    p
      width: 226px
      height: 56px
      font-size: 48px
      font-weight: 900
      color: #000000
      margin: 0  
  &__dateContent
    p
      width: 220px
      height: 23px
      font-size: 20px
      font-weight: 300
      color: #7B7B7B
      margin: 0
      margin-top: 30px
      margin-left: 33px
  &__contentFilling
    width: 1282px
    height: 350px
    border-radius: 40px
    background: #58554E
    display: flex
    flex-wrap: nowrap
    img
      width: 418px
      height: 280px
      margin-top: 26px
      margin-left: 26px
  &__textContent
    width: 800px
    height: 302px
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 0
    margin-top: 36px
    margin-left: 34px
    p:first-of-type
      width: 777px
      height: 70px
      font-size: 36px
      font-weight: 700
      margin: 0
      margin-bottom: 14px
      color: #F5F5F5
    p:nth-of-type(2)
      width: 777px
      height: 135px
      font-size: 20px
      font-weight: 300
      margin: 0
      color: #F5F5F5
    button
      width: 193px
      height: 53px
      background: #F27C1C
      font-size: 24px
      font-weight: 700
      border-radius: 32px
      margin-left: 585px
  &__lowerContentButton
    width: 1282px
    height: 53px
    margin-top: 48px
    display: flex
    justify-content: center
    button
      width: 193px
      height: 53px
      background: #F27C1C
      font-size: 24px
      font-weight: 700
      border-radius: 32px

.footer
  width: 100%
  height: 298px
  margin-top: 48px
  background: #58554E
  display: flex
  justify-content: center
  &__footerInformation
    width: 1253px
    height: 150px
    margin-top: 54px
  &__contactInformation
    width: 100%
    display: flex
    justify-content: space-between
    margin-top: 15px
  &__one,
  &__two,
  &__three
    flex: 1
  &__one
    p:first-of-type
      font-size: 20px
      font-weight: 300
      margin: 0
    p:nth-of-type(2)
      font-size: 24px
      font-weight: 700
      margin: 15px 0 0 0
  &__two
    p:first-of-type
      font-size: 20px
      font-weight: 300
      margin: 0
    p:nth-of-type(2)
      font-size: 24px
      font-weight: 700
      margin: 15px 0 0 0
  &__three
    max-width: 350px
    p:first-of-type
      font-size: 20px
      font-weight: 300
      margin: 0
    p:nth-of-type(2)
      font-size: 24px
      font-weight: 700
      margin: 15px 0 0 0


@media (max-width: 768px)
  body
    margin: 0
    padding: 0
    .header
      width: 100%
      height: 170px
      background: #58554E
      &__topSide
        width: 768px
        height: 117px
        display: flex
        align-items: center
        justify-content: center
        border-bottom: 1px solid #ffffff
      &__topСontent
        display: flex
        width: 768px
        height: 117px
        justify-content: space-between
        // align-items: center
      &__leftPosition
          width: 545px
          height: 67px
          display: flex
          margin-top: 13px
          margin-left: 25px
          img
           width: 68px
           height: 67px
          p
           margin: 0
           margin-top: 3px 
           margin-left: 8px
           font-size: 24px
           font-weight: 500
      &__rightPosition
       width: 65px
       height: 28px
       margin-top: 26px
       margin-right: 28px
       a
        text-decoration: none
        margin: 0
        // margin-top: 45px
        font-size: 24px
        font-weight: 700
      &__bottomSide
        width: 768px
        height: 53px
        display: flex
        justify-content: space-between
      &__leftButton
        button
          width: 384px
          height: 53px
          background: #58554E
          font-size: 24px
          font-weight: 700
          border-right: 1px solid #ffffff
          cursor: pointer
      &__rightButton
        button
          width: 384px
          height: 53px
          background: #58554E
          font-size: 24px
          font-weight: 700
          border-left: 1px solid #ffffff
          cursor: pointer

  .main
    height: 2956px
    width: 768px
    display: flex
    justify-content: center
    flex-wrap: wrap
    &__title
      width: 768px
      height: 279px
      margin-top: 46px
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      p
        color: #000000
        font-size: 48px
        margin: 0
        font-weight: 900
    &__titleDescription
      height: 206px
      width: 768px
      p
        width: 719px
        margin-left: 20px
        font-size: 20px
        font-weight: 300
        text-align: center
        margin-top: 4px
        margin-bottom: 8px
    &__content
      width: 2329px
      height: 2100px
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      p
        width: 226px
        height: 56px
        font-size: 48px
        font-weight: 900
        color: #000000
        margin: 0  
    &__dateContent
      p
        width: 220px
        height: 23px
        font-size: 20px
        font-weight: 300
        color: #7B7B7B
        margin: 0
        margin-top: 79px
        margin-left: 59px
    &__contentFilling
      width: 721px
      height: 519px
      border-radius: 40px
      background: #58554E
      display: flex
      flex-wrap: nowrap
      img
        width: 340px
        height: 228px
        margin-top: 29px
        margin-left: 16px
    &__textContent
      position: absolute
      width: 678px
      height: 450px
      display: flex
      // flex-direction: column
      justify-content: space-between
      flex-wrap: wrap
      margin: 0
      margin-top: 29px
      margin-left: 16px
      p:first-of-type
        width: 342px
        height: 179px
        font-size: 36px
        font-weight: 700
        margin: 0
        margin-bottom: 30px
        margin-left: 360px
        color: #F5F5F5
      p:nth-of-type(2)
        width: 674px
        height: 135px
        font-size: 20px
        font-weight: 300
        margin: 0
        color: #F5F5F5
        margin-right: 27px
        margin-top: 20px
      button
        width: 193px
        height: 53px
        background: #F27C1C
        font-size: 24px
        font-weight: 700
        border-radius: 32px
        margin-left: 497px
        margin-top: 30px
        margin-right: 10px

    &__lowerContentButton
      width: 1282px
      height: 53px
      margin-top: 48px
      display: flex
      justify-content: center
      button
        width: 193px
        height: 53px
        background: #F27C1C
        font-size: 24px
        font-weight: 700
        border-radius: 32px

  .footer
    width: 100%
    height: 350px
    margin-top: 400px
    background: #58554E
    display: flex
    justify-content: center
    &__footerInformation
      width: 1253px
      height: 150px
      margin-top: 54px
      margin-left: 30px
    &__contactInformation
      width: 100%
      display: flex
      justify-content: space-between
      margin-top: 15px
    &__one,
    &__two,
    &__three
      flex: 1
    &__one
      p:first-of-type
        font-size: 20px
        font-weight: 300
        margin: 0
      p:nth-of-type(2)
        font-size: 24px
        font-weight: 700
        margin: 15px 0 0 0
    &__two
      p:first-of-type
        font-size: 20px
        font-weight: 300
        margin: 0
      p:nth-of-type(2)
        font-size: 24px
        font-weight: 700
        margin: 15px 0 0 0
    &__three
      max-width: 350px
      p:first-of-type
        font-size: 20px
        font-weight: 300
        margin: 0
      p:nth-of-type(2)
        font-size: 24px
        font-weight: 700
        margin: 15px 0 0 0

@media (max-width: 360px)
  *
    box-sizing: border-box
    color: #fff
    font-family: sans-serif

  body
    margin: 0
    padding: 0
    .header
      width: 100%
      height: 150px
      background: #58554E
      &__topSide
        width: 360px
        height: 97px
        display: flex
        align-items: center
        justify-content: center
        border-bottom: 1px solid #ffffff
      &__topСontent
        display: flex
        width: 360px
        height: 97px
        justify-content: space-between
        // align-items: center
      &__leftPosition
          width: 56px
          height: 55px
          display: flex
          margin-top: 17px
          margin-left: 21px
          img
           width: 56px
           height: 55px
          p
            display: none
      &__rightPosition
       width: 54px
       height: 23px
       margin-top: 33px
       margin-right: 40px
       a
        text-decoration: none
        margin: 0
        // margin-top: 45px
        font-size: 20px
        font-weight: 700
      &__bottomSide
        width: 150px
        height: 53px
        display: flex
        justify-content: space-between
      &__leftButton
        button
          width: 180px
          height: 53px
          background: #58554E
          font-size: 20px
          font-weight: 700
          border-right: 1px solid #ffffff
          cursor: pointer
      &__rightButton
        button
          width: 180px
          height: 53px
          background: #58554E
          font-size: 20px
          font-weight: 700
          border-left: 1px solid #ffffff
          cursor: pointer

  .main
    height: 4200px
    width: 360px
    display: flex
    justify-content: center
    flex-wrap: wrap
    &__title
      width: 360px
      height: 200px
      margin-top: 68px
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      p
        color: #000000
        font-size: 40px
        margin: 0
        font-weight: 900
    &__titleDescription
      height: 200px
      width: 360px
      p
        font-size: 10px
        font-weight: 300
        text-align: center
        margin-top: 12px
        margin-bottom: 12px
        margin-left: 20px
        width: 323px
    &__content
      width: 360px
      height: 4000px
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      p
        width: 226px
        height: 47px
        font-size: 40px
        font-weight: 900
        color: #000000
        margin: 0  
    &__dateContent
      p
        width: 220px
        height: 23px
        font-size: 20px
        font-weight: 300
        color: #7B7B7B
        margin: 0
        margin-top: 30px
        margin-left: 60px
    &__contentFilling
      width: 328px
      height: 950px
      border-radius: 40px
      background: #58554E
      display: flex
      flex-direction: column
      align-items: center
      img
        width: 313px
        height: 210px
        margin-top: 20px
    &__textContent
      width: 315px
      height: 700px
      display: flex
      flex-wrap: wrap
      margin-top: 230px
      p:first-of-type
        width: 315px
        height: 220px
        font-size: 36px
        font-weight: 700
        color: #F5F5F5
        margin: 0
        text-align: center
      p:nth-of-type(2)
        width: 310px
        height: 400px
        font-size: 20px
        font-weight: 300
        color: #F5F5F5
        margin: 0
      button
        width: 193px
        height: 53px
        background: #F27C1C
        font-size: 24px
        font-weight: 700
        border-radius: 32px
        border: none
        cursor: pointer
        margin: 0
        margin-left: 50px
    &__lowerContentButton
      width: 1282px
      height: 53px
      margin-top: 48px
      display: flex
      justify-content: center
      button
        width: 193px
        height: 53px
        background: #F27C1C
        font-size: 24px
        font-weight: 700
        border-radius: 32px

  .footer
    width: 360px
    height: 500px
    margin-top: 48pxjc
    background: #58554E
    // display: flex
    // flex-direction: column
    // justify-content: space-between
    &__footerInformation
      width: 1253px
      height: 300px
      margin-top: 54px
    &__contactInformation
      width: 100%
      display: flex
      flex-direction: column
      // justify-content: space-between
      margin-top: 15px
    &__one,
    &__two,
    &__three
      flex: 1
    &__one
      p:first-of-type
        font-size: 20px
        font-weight: 300
        margin-top: 20px
      p:nth-of-type(2)
        font-size: 24px
        font-weight: 700
        margin: 0
    &__two
      p:first-of-type
        font-size: 20px
        font-weight: 300
        margin-top: 20px
      p:nth-of-type(2)
        font-size: 24px
        font-weight: 700
        margin: 0
    &__three
      max-width: 300px
      p:first-of-type
        font-size: 20px
        font-weight: 300
        margin-top: 20px
      p:nth-of-type(2)
        font-size: 24px
        font-weight: 700
        margin: 0